In [2]:
pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in /Users/AliciaLy/anaconda3/lib/python3.8/site-packages (1.3.18)
Requirement already satisfied: psycopg2-binary in /Users/AliciaLy/anaconda3/lib/python3.8/site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# SQLAlchemy
from sqlalchemy import create_engine
from config import pg_user, pg_pass

import psycopg2 
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [4]:
# Path to SQL database
engine = create_engine(f'postgresql://{pg_user}:{pg_pass}@localhost:5432/watch_db')
conn = engine.connect()

In [5]:
# Pull salary information from the salary table from the sql_challege database
realreal_data = pd.read_sql("SELECT * FROM realreal", conn)
realreal_data

,id,title,model,price,link
0,15160872,Rolex,Datejust Watch,8700.0,https://www.therealreal.com/products/watches/b...
1,15045153,Rolex,Datejust Watch,8700.0,https://www.therealreal.com/products/watches/b...
2,15038890,Rolex,Datejust Watch,8100.0,https://www.therealreal.com/products/watches/b...
3,14972725,Rolex,Day-Date Watch,32450.0,https://www.therealreal.com/products/watches/b...
4,15085516,Rolex,Datejust Watch,8300.0,https://www.therealreal.com/products/watches/b...
...,...,...,...,...,...
96,11438392,Rolex,Datejust Watch,6200.0,https://www.therealreal.com/products/watches/b...
97,10324311,Rolex,Datejust Watch,7250.0,https://www.therealreal.com/products/watches/b...
98,10309686,Rolex,Datejust Watch,7450.0,https://www.therealreal.com/products/watches/b...
99,9509765,Rolex,Datejust Watch,7150.0,https://www.therealreal.com/products/watches/b...
100,9776037,Rolex,Datejust Watch,6200.0,https://www.therealreal.com/products/watches/b...

In [6]:
crownandcaliber_data = pd.read_sql("SELECT * FROM crownandcaliber", conn)
crownandcaliber_data

,id,title,model,price,link
0,114060,Rolex,Submariner,10175.0,https://www.crownandcaliber.com/products/rolex...
1,114060,Rolex,Submariner,10775.0,https://www.crownandcaliber.com/products/rolex...
2,114060,Rolex,Submariner,10975.0,https://www.crownandcaliber.com/products/rolex...
3,114060,Rolex,Submariner,10375.0,https://www.crownandcaliber.com/products/rolex...
4,114060,Rolex,Submariner,10975.0,https://www.crownandcaliber.com/products/rolex...
...,...,...,...,...,...
235,6265,Rolex,Daytona,63000.0,https://www.crownandcaliber.com/products/rolex...
236,6633/9,Rolex,Cellini,4225.0,https://www.crownandcaliber.com/products/rolex...
237,67198,Rolex,Oyster Perpetual,6075.0,https://www.crownandcaliber.com/products/rolex...
238,69173,Rolex,Datejust,4050.0,https://www.crownandcaliber.com/products/rolex...
239,79179,Rolex,Datejust,8200.0,https://www.crownandcaliber.com/products/rolex...

In [7]:
watchbox_data = pd.read_sql("SELECT * FROM watchbox", conn)
watchbox_data

,id,title,model,price,link
0,126619LB,Rolex,Submariner,52950.0,https://www.thewatchbox.com/shop/4370144.html
1,118398,Rolex,Day-Date,52950.0,https://www.thewatchbox.com/shop/4321592.html
2,279138RBR,Rolex,Datejust,23250.0,https://www.thewatchbox.com/shop/4294740.html
3,79174,Rolex,Datejust,3750.0,https://www.thewatchbox.com/shop/4334470.html
4,126619LB,Rolex,Submariner,53950.0,https://www.thewatchbox.com/shop/4385753.html
...,...,...,...,...,...
235,216570,Rolex,Explorer II,9750.0,https://www.thewatchbox.com/shop/4360723.html
236,116233,Rolex,Datejust,9450.0,https://www.thewatchbox.com/shop/4350534.html
237,126334,Rolex,Datejust,11350.0,https://www.thewatchbox.com/shop/4367629.html
238,116400GV,Rolex,Milgauss,10950.0,https://www.thewatchbox.com/shop/4375358.html
239,126622,Rolex,Yacht-Master,13950.0,https://www.thewatchbox.com/shop/4370128.html