In [3]:
# pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in /Users/AliciaLy/anaconda3/lib/python3.8/site-packages (1.3.18)
Requirement already satisfied: psycopg2-binary in /Users/AliciaLy/anaconda3/lib/python3.8/site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [4]:
# SQLAlchemy
from sqlalchemy import create_engine
from config import pg_user, pg_pass

import psycopg2 
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [5]:
# Path to SQL database
engine = create_engine(f'postgresql://{pg_user}:{pg_pass}@localhost:5432/watch_db')
conn = engine.connect()

In [7]:
# Pull salary information from the salary table from the sql_challege database
realreal_data = pd.read_sql("SELECT * FROM realreal_df ", conn)
salary_data.head()

NameError: name 'salary_data' is not defined