In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# !pip uninstall psycopg2-binary

Found existing installation: psycopg2-binary 2.8.6
Uninstalling psycopg2-binary-2.8.6:
  Would remove:
    /Users/AliciaLy/anaconda3/lib/python3.8/site-packages/psycopg2/*
    /Users/AliciaLy/anaconda3/lib/python3.8/site-packages/psycopg2_binary-2.8.6.dist-info/*
Proceed (y/n)?

In [7]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.8.6-cp38-cp38-macosx_10_9_x86_64.macosx_10_9_intel.macosx_10_10_intel.macosx_10_10_x86_64.whl (1.5 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6

In [ ]:
### Extract CSVs into DataFrames

In [8]:
premise_file = "../Resources/LicensePremise.csv"

licensepremise_df = pd.read_csv(premise_file)
licensepremise_df.head()

,License Serial Number,Premises Name,License Certificate Number,License Received Date,County ID Code
0,1311660,CANA ARRIBA GROCERY NO 2 INC,NaN,2018-06-29T00:00:00,0
1,1310023,JOHANA GROCERY & DELI CORP,NaN,2018-04-27T00:00:00,0
2,1310024,TKO BEVERAGES LLC,NaN,2018-04-27T00:00:00,1
3,1310024,TKO BEVERAGES LLC,NaN,2018-04-27T00:00:00,1
4,1311663,181 LEXINGTON AVENUE BBQ LLC,NaN,2018-06-29T00:00:00,2

In [9]:
county_file = "../Resources/CountyLicenseCount.csv"
countylicense_df = pd.read_csv(county_file)
countylicense_df.head()

   ID County Name (Licensee)  County ID Code  License Count
0   0                 ALBANY               5             77
1   1               ALLEGANY              59              4
2   2                  BRONX               0            104
3   3                 BROOME              35             14
4   4            CATTARAUGUS              41              9

### Transform premise DataFrame

In [10]:
licensepremise_df = licensepremise_df.dropna()
licensepremise_df.head()

,License Serial Number,Premises Name,License Certificate Number,License Received Date,County ID Code
5,1310029,AZIZ DELI & GRILL CORP,849225.0,2018-04-27T00:00:00,1
15,1307023,JA EXPRESS FOOD CORP,882858.0,2018-05-02T00:00:00,8
16,1307023,JA EXPRESS FOOD CORP,882858.0,2018-05-02T00:00:00,8
19,2210440,CANOE HILL VINEYARD LLC,898384.0,2018-05-02T00:00:00,9
21,1307463,LA REGIA DELI RESTAURANT CORP,863381.0,2018-04-25T00:00:00,10

### Transform county DataFrame

In [11]:
countylicense_df = countylicense_df.dropna()
countylicense_df.head()

   ID County Name (Licensee)  County ID Code  License Count
0   0                 ALBANY               5             77
1   1               ALLEGANY              59              4
2   2                  BRONX               0            104
3   3                 BROOME              35             14
4   4            CATTARAUGUS              41              9

In [12]:
# !pip uninstall psycopg2-binary

In [13]:
# !pip install psycopg2-binary

### Create database connection

In [14]:
rds_connection_string = "alicia:123456@localhost:5432/license_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# Confirm tables

### Load DataFrames into database